.general-title
.button
.main-title
.main-info span
.semester-title
.lesson-head-title
.lesson-bonus span
.prices-title
.prices-text
.cost
	font-weight: 900
.main-title small
.main-info
.about-text span
.lets-item-text
.technic-text
.course-text span
.course-info span
.lesson-body-subtitle
.prices-text small
footer h5
	font-weight: bold
.lets-item
	height 410px
.technic
	height 440px
.lesson
	height 415px
.lesson-head
	width 415px
	top 192px
	left -193px