#lets
	padding 50px 0
.lets-item
	width 100%
	max-width 260px
	margin 0 auto 50px
	background-repeat no-repeat
	background-position: top center
	background-size: auto 200px
	padding 220px 20px 20px
	text-align: center
	display: table
	height 381px
	box-shadow: 0 2px 12px 5px rgba(#B76B27,.34)
	border-radius: 2px
	overflow hidden
	transition: all .5s ease
	&:hover
		box-shadow: 0 2px 12px 5px rgba(#aaa,.34)
	&-1
		background-image url(../img/images/lets-img-1.jpg)
	&-2
		background-image url(../img/images/lets-img-2.jpg)
	&-3
		background-image url(../img/images/lets-img-3.jpg)
	&-text
		display: table-cell
		vertical-align: middle
		font-family: AB