#technics
	padding 50px 0 20px
.technic
	@extend .lets-item
	&-text
		@extend .lets-item-text
	&-1
		background-image url(../img/images/tech-img-1.jpg)
	&-2
		background-image url(../img/images/tech-img-2.jpg)
	&-3
		background-image url(../img/images/tech-img-3.jpg)