#prices
	padding 80px 0
	text-align: center
	position relative
	background-color: #0A0707
	background-image url(../img/backs/prices-bg.jpg)
	background-repeat no-repeat
	background-position: top right
	background-size: cover
	&:before
		@extend #main:before
	.container
		@extend #main .container
.prices-title
	font-size: 60px
	font-family: PNBk
	text-transform: uppercase
	color #fff
	margin 0 0 40px
	line-height: 45px
.prices-text
	color #fff
	font-size: 26px
	font-family: ABk
	small
		font-size: 20px
		display: block
		font-family: AB
.cost
	font-size: 80px
	text-transform: uppercase
	font-family: PNBk
	margin 30px 0 40px
	color: #cc5500;
	display: inline-block
	background-color: rgba(#fff,.95)
	padding 5px 30px
	border-radius: 3px