@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.lets-item, .technic
		height 426px
	.lesson
		height 358px
	.lesson-head
		width 358px
		top: 164px;
		left: -164px;
	.lesson-body-list li
		font-size: 18px
@media screen and (max-width 1199px)
	.lesson
		height 408px
		&-7
			.lesson-body-subtitle
				word-wrap: break-word
		&-head
			width 408px
			top 189px
			left -189px
@media screen and (max-width 991px)
	.lets-item, .technic
		height 438px
	.lesson
		height 336px
@media screen and (max-width 767px)
	#main
		padding 0 0 40px
	.header-logo
		float: none
		margin 0 auto 3px
		display: block
	.contacts
		float: none
		text-align: center
	.contact
		line-height: 18px
		display: inline-block
	.main-title
		margin 30px 0
		font-size: 60px
	.main-info:last-of-type
		margin 20px 0 30px
	#about
		padding 40px 0 0
	#lets
		padding 40px 0
	.lets-item, .technic
		height 381px
		margin-bottom: 20px
	.lets-item-3
		margin-bottom: 40px
	#plan
		padding 40px 0 60px
	.semester-title
		text-align: center
	.semester-2
		padding 0 0 10px
	#technics
		padding 40px 0 30px
	#prices
		padding 60px 0
@media screen and (max-width 485px)
	header
		padding 15px 0
	.header-logo
		width 60px
	.contact
		font-size: 12px
		line-height: 14px
		background-size: auto 14px
		padding-left: 20px
	.main-title
		font-size: 45px
		margin 20px 0 25px
	.main-info
		font-size: 20px
		span
			font-size: 22px
	.about-text
	.course-text
	.lesson-bonus
		font-size: 20px
	.general-title
		font-size: 26px
		margin-bottom: 30px
	.semester-title
		font-size: 24px
		margin-bottom: 20px
	.prices-title
		font-size: 44px
		line-height: 1.3
		margin-bottom: 25px
	.cost
		font-size: 60px
	footer
		padding 15px 0
		h5
			font-size: 18px
			line-height: 1.1
	.soc-buttons a
		margin 10px 5px
	footer p
	.conditions
		font-size: 12px
@media screen and (max-width 385px)
	#main
		padding 0 0 30px
	#about
		padding 30px 0 0
	#lets
		padding 30px 0
	#plan
		padding 30px 0 40px
	#technics
		padding 30px 0
	#prices
		padding 40px 0
	.main-title
		font-size: 38px
		margin 10px 0
	.main-info:last-of-type
		margin 10px 0 20px
	.about-text, .course-text, .lesson-bonus
		font-size: 18px
	.lets-item, .technic
		max-width 250px
		height 381px
	.lesson
		max-width 250px
		height auto
	.general-title
		line-height: 1.2
		font-size: 24px
	.prices-title
		font-size: 36px
		margin-bottom: 15px
	.cost
		font-size: 36px
	.lesson-body-subtitle
		word-break: break-all