section#main
	include 0.header.pug
	.container
		h1.main-title
			small обучающий курс
			=head_title
		p.main-info Старт курса: 
			span 26 февраля, в 19:00 (мск)
		p.main-info Автр курса: 
			span Василий Попов
		+b('','#prices','Записаться')