section#about
	.container
		p.about-text 
			span Курс 
				=head_title
				|&nbsp;
			| задумывался как продолжение основной программы по таро в рамках нашей модели понимания колоды. Расклады, о которых говорится в основном курсе, предназначены для решения самых распространённых жизненных ситуаций. При этом любой практик  сталкивается с необходимостью расширять свой инструментарий для более тонкого отображения окружающей действительности. Для таких посвященных мастеров и создан тренинг 
			=head_title