mixin lets(cl,p)
	.col-md-4.col-sm-4
		.lets-item(class=cl)
			p.lets-item-text=p

section#lets
	.container
		+gt('','Курс позволит Вам:')
		.row
			+lets('lets-item-1','получить более широкие представления о возможностях таро')
			+lets('lets-item-2','научиться пользоваться новыми раскладами в совершенстве')
			+lets('lets-item-3','узнать, как решать больше вариаций трудных жизненных ситуаций, из-за которых люди обращаются за помощью к тарологам')
		+b('','#prices','Записаться')