section#plan
	.container
		p.course-text 
			span Курс разделен на 2 семестра и включает 16 занятий (по 8 уроков в каждом). 
			| В первом семестре Вы подробно рассмотрите 4 расклада, подходящие для различных сфер жизни. Второй семестр раскроет для Вас трансформационные энергии и способ их применения
		p.course-info Занятия будут 
			span проходить в записи 1 раз в неделю (по средам)
		p.course-info Продолжительность занятия: 
			span 1,5 часа
		p.course-info 
			span Раз в две недели в 19:00 
			| будет проходить онлайн-встреча «Вопрос-ответ» по материалам уроков
	.semester.semester-1
		.container
			h3.semester-title 1 семестр
			.row
				.col-md-3.col-sm-6
					.lesson.lesson-1
						.lesson-head
							h4.lesson-head-title Занятие 1
						.lesson-body
							h5.lesson-body-subtitle Условия обретения счастья. 19 расклад
							ul.lesson-body-list
								li Принципы 19 Расклада. 19 Аркан как трафарет
								li Глифы 19 Аркана
								li Схема 19 Расклада
								li Вопросы 19 Расклада
								li Трактовка Больших Арканов в 19 Раскладе
				.col-md-3.col-sm-6
					.lesson.lesson-2
						.lesson-head
							h4.lesson-head-title Занятие 2
						.lesson-body
							h5.lesson-body-subtitle Расклад 19. Практикум
							ul.lesson-body-list
								li Отработка навыков работы с 19 Раскладом
								li Диктант
								li Трактовка 19 Расклада по всей схеме
								li Обсуждение полученных результатов
				.col-md-3.col-sm-6
					.lesson.lesson-3
						.lesson-head
							h4.lesson-head-title Занятие 3
						.lesson-body
							h5.lesson-body-subtitle Поиск баланса\законности. 11 расклад
							ul.lesson-body-list
								li Принципы 11 Расклада. 11 Аркан как трафарет
								li Глифы 11 Аркана
								li Схема 11 Расклада
								li Вопросы 11 Расклада
								li Трактовка Больших Арканов в 11 Раскладе
				.col-md-3.col-sm-6
					.lesson.lesson-4
						.lesson-head
							h4.lesson-head-title Занятие 4
						.lesson-body
							h5.lesson-body-subtitle Расклад 11. Практикум
							ul.lesson-body-list
								li Отработка навыков работы с 11 Раскладом
								li Диктант
								li Трактовка 11 Расклада по всей схеме
								li Обсуждение полученных результатов
			.row
				.col-md-3.col-sm-6
					.lesson.lesson-5
						.lesson-head
							h4.lesson-head-title Занятие 5
						.lesson-body
							h5.lesson-body-subtitle Условия обретения власти. 4 расклад
							ul.lesson-body-list
								li Принципы 4 Расклада. 4 Аркан как трафарет
								li Глифы 4 Аркана
								li Схема 4 Расклада
								li Вопросы 4 Расклада
								li Трактовка неприоритетных позиций в 4 Раскладе
				.col-md-3.col-sm-6
					.lesson.lesson-6
						.lesson-head
							h4.lesson-head-title Занятие 6
						.lesson-body
							h5.lesson-body-subtitle Расклад 4. Практикум
							ul.lesson-body-list
								li Отработка навыков работы с 4 Раскладом
								li Диктант
								li Трактовка 4 Расклада по всей схеме
								li Обсуждение полученных результатов
				.col-md-3.col-sm-6
					.lesson.lesson-7
						.lesson-head
							h4.lesson-head-title Занятие 7
						.lesson-body
							h5.lesson-body-subtitle Раскрытие тайн\получение информации\вопросы образования. 2 расклад
							ul.lesson-body-list
								li Принципы 2 Расклада. 2 Аркан как трафарет
								li Глифы 2 Аркана
								li Схема 2 Расклада
								li Вопросы 2 Расклада
								li Трактовка неприоритетных позиций в 2 Раскладе
				.col-md-3.col-sm-6
					.lesson.lesson-8
						.lesson-head
							h4.lesson-head-title Занятие 8
						.lesson-body
							h5.lesson-body-subtitle Расклад 2. Практикум
							ul.lesson-body-list
								li Отработка навыков работы с 2 Раскладом
								li Диктант
								li Трактовка 2 Расклада по всей схеме
								li Обсуждение полученных результатов
	.semester.semester-2
		.container
			h3.semester-title 2 семестр
			.row
				.col-md-3.col-sm-6
					.lesson.lesson-1
						.lesson-head
							h4.lesson-head-title Занятие 1
						.lesson-body
							h5.lesson-body-subtitle Резкая трансформация\обновление. 20 расклад
							ul.lesson-body-list
								li Принципы 20 Расклада. 20 Аркан как трафарет
								li Глифы 20 Аркана
								li Схема 20 Расклада
								li Вопросы 20 Расклада
								li Трактовка Больших Арканов в 20 Раскладе
				.col-md-3.col-sm-6
					.lesson.lesson-2
						.lesson-head
							h4.lesson-head-title Занятие 2
						.lesson-body
							h5.lesson-body-subtitle Расклад 20. Практикум
							ul.lesson-body-list
								li Отработка навыков работы с 20 Раскладом
								li Диктант
								li Трактовка 20 Расклада по всей схеме
								li Обсуждение полученных результатов
				.col-md-3.col-sm-6
					.lesson.lesson-3
						.lesson-head
							h4.lesson-head-title Занятие 3
						.lesson-body
							h5.lesson-body-subtitle Постепенная трансформация. 14 расклад
							ul.lesson-body-list
								li Принципы 14 Расклада. 14 Аркан как трафарет
								li Глифы 14 Аркана
								li Схема 14 Расклада
								li Вопросы 14 Расклада
								li Трактовка Больших Арканов в 14 Раскладе
				.col-md-3.col-sm-6
					.lesson.lesson-4
						.lesson-head
							h4.lesson-head-title Занятие 4
						.lesson-body
							h5.lesson-body-subtitle Расклад 14. Практикум
							ul.lesson-body-list
								li Отработка навыков работы с 14 Раскладом
								li Диктант
								li Трактовка 14 Расклада по всей схеме
								li Обсуждение полученных результатов
			.row
				.col-md-3.col-sm-6
					.lesson.lesson-5
						.lesson-head
							h4.lesson-head-title Занятие 5
						.lesson-body
							h5.lesson-body-subtitle Смерть\остановка\отживание старого. 13 расклад
							ul.lesson-body-list
								li Принципы 13 Расклада. 13 Аркан как трафарет
								li Глифы 13 Аркана
								li Схема 13 Расклада
								li Вопросы 13 Расклада
								li Трактовка старших арканов в 13 Раскладе
				.col-md-3.col-sm-6
					.lesson.lesson-6
						.lesson-head
							h4.lesson-head-title Занятие 6
						.lesson-body
							h5.lesson-body-subtitle Расклад 13. Практикум
							ul.lesson-body-list
								li Отработка навыков работы с 13 Раскладом
								li Диктант
								li Трактовка 13 Расклада по всей схеме
								li Обсуждение полученных результатов
				.col-md-3.col-sm-6
					.lesson.lesson-7
						.lesson-head
							h4.lesson-head-title Занятие 7
						.lesson-body
							h5.lesson-body-subtitle Духовная трансформация\учительство. 5 расклад
							ul.lesson-body-list
								li Принципы 5 Расклада. 5 Аркан как трафарет
								li Глифы 5 Аркана
								li Схема 5 Расклада
								li Вопросы 5 Расклада
								li Трактовка неприоритетных позиций в 5 Раскладе
				.col-md-3.col-sm-6
					.lesson.lesson-8
						.lesson-head
							h4.lesson-head-title Занятие 8
						.lesson-body
							h5.lesson-body-subtitle Расклад 5. Практикум
							ul.lesson-body-list
								li Отработка навыков работы с 5 Раскладом
								li Диктант
								li Трактовка 5 Расклада по всей схеме
								li Обсуждение полученных результатов
	.container
		p.lesson-bonus
			span Бонусный урок «Полный 17 расклад» 
			| включает развёрнутый вариант 17-го расклада из основного курса по таро (пакет «Золото»). Направлен на комплексную диагностику организма, включая состояние чакр. 
		+b('','#prices','Записаться')