mixin tech(cl,p)
	.col-md-4.col-sm-4
		.technic(class=cl)
			p.technic-text=p
section#technics
	.contianer
		+gt('','Основные техники, которые Вы освоите на курсе:')
		.row
			+lets('technic-1','медитации на Солнце наполнят энергией и подготовят к работе с картами')
			+lets('technic-2','медитации на эгрегор таро сонастроит с колодой для более точного выкладывания раскладов и более детальных трактовок раскладов')
			+lets('technic-3','техника «Диктант» позволит усвоить последовательность раскладов для избежания риска совершения ошибки')
		+b('','#prices','Записаться')