mixin tech(cl,p)
	.col-md-4.col-sm-4
		.technic(class=cl)
			p.technic-text=p
section#technics
	.container
		+gt('','Основные техники, которые Вы освоите на курсе:')
		.row
			+tech('technic-1','медитации на Солнце наполнят энергией и подготовят к работе с картами')
			+tech('technic-2','медитации на эгрегор таро сонастроит с колодой для более точного выкладывания раскладов и более детальных трактовок раскладов')
			+tech('technic-3','техника «Диктант» позволит усвоить последовательность раскладов для избежания риска совершения ошибки')