section#prices
	.container
		h3.prices-title=head_title
		p.prices-text Стоимость обучения
			small (2 семестра по 8 занятий + 1 бонусный урок)
		p.cost 24 000р.
		+b('','https://shop.mastervision.su/?r=ordering/cart/as1&id=4488&clean=true&lg=ru','Записаться','_blank')